.login{
    min-height: 85vh;
}

.login__card{
    margin-top: 3rem;
    padding: 1rem;
}

.login__button{
    margin-top: 1rem !important;
    width: 10rem;
}

.login__info{
    display: block;
    margin-top: 1rem !important;
}

@media(max-width: 900px){
    .login__card{
        padding: .5rem;
    }

    .login__button{
        width: 100%;
    }
}