.login{
    min-height: 85vh;
}

.login__button{
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 5px;
    color: white;
    border-radius: 4px;
    width: 40%;
    border: none;
}

.button__login{
    background-color: #4169E1;
}

.button__goBack{
    background-color: #b4b4b4;
}