.register{
    min-height: 90vh;
}

.register__card{
    margin-top: 3rem;
    padding: 1rem;
}

.register__info{
    display: block;
    margin-top: 1rem !important;
}

.btn__progress{
    color: green !important;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -12px;
    margin-left: -12px;
}

@media(max-width: 900px){
    .register__card{
        padding: .5rem;
    }
}