.register{
    min-height: 90vh;
}

.register__card{
    margin-top: 3rem;
    padding: 1rem;
}

.register__button{
    margin-top: 1rem !important;
    width: 10rem;
    background-color: red;
}

@media(max-width: 900px){
    .register__card{
        padding: .5rem;
    }

    .register__button{
        width: 100%;
    }
}