@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.map{
  height: 400px;
} 

.logo{
  width: 11rem;
  margin-bottom: 3px;
}

.card{
  margin-top: 2rem;
  padding: 1rem;
}

.siderdrawer-icon{
  min-width: 2.4rem !important;
}

.down-arrow{
  margin-left: -5px;
  margin-top: 4.5px;
}

.footer-links{
  margin-top: 5px !important;
  margin-bottom: 1.5rem !important;
}

.primary-color{
  background-color: #22435A !important;
  color: white !important;
}

.secondary-color{
  background-color: #035aa6 !important;
  color: white !important;
}

.primary-textColor{ color: #22435A !important; }

.white-link,
.white-link:link,
.white-link:visited{
  text-decoration: inherit !important;
  color: white;
  margin: 0 .7rem;
}

.toolbarRight{
  margin-left: auto;
}

.hiddenDesk{
  display: block;
}

.hiddenMobile{
  display: none;
}

.xm-1{
  margin-left: 1rem;
  margin-right: 1rem;
}

.marginX-1{
  margin-top: .4rem;
  margin-bottom: .4rem;
}

.marginX-2{
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.marginX-5{
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.marginT-1{ margin-top: .5rem !important; }
.marginT-2{ margin-top: 1rem !important; }
.marginT-3{ margin-top: 2rem !important; }
.marginT-5{ margin-top: 5rem !important; }

.marginR-1{ margin-right: 1rem !important; }

.marginL-d7{ margin-left: .7rem !important; }
.marginL-1{ margin-left: 1rem !important; }

.marginB-1{ margin-bottom: 1rem !important; }
.marginB-2{ margin-bottom: 2rem !important; }

.pad-1{ padding: 1rem; }
.pad-2{ padding: 1.5rem; }

.padB-0{ padding-bottom: 0 !important; }

.icon-s{ font-size: 1.9rem !important; }
.icon-m{ font-size: 2.1rem !important; }

.floatRight{ float: right; }

.minHeight{ min-height: 570px; }

.relative{ position: relative !important; }

@media only screen and (max-width: 760px) {
  .hiddenDesk{
    display: none;
  }

  .hiddenMobile{
    display: block;
  }
}