.header{
    background-image: url(../../img/sport.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    min-height: 100vh;
}

.header__title{
    padding-top: 50px;
    font-size: 50px;
}

.header__text{
    padding: 50px 0;
    font-size: 25px;
}