.notification{
    border: 3px solid #52686d;
    background-color: #eaeeef;
    position: absolute;
    overflow: auto;
    height: 300px;
    z-index: 10;
    padding-top: 10px;
}

.notification__container{
    padding: 0 20px;
}

.notification__item{
    padding: 5px 10px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.notification__date{
    margin: 0;
    text-align: right;
}